

#body{
	margin-top:50px;
	background-color: #E8E8E8;
	padding-bottom: 50px;
}

#login_container{
	vertical-align: middle;
	margin-top:100px;
	border:2px solid black;
	background-color: #C0C0C0;
	padding:20px;
	border-radius: 5px;
}
.report{
	margin:5px;
    box-shadow: 3px 3px 3px 3px gray;
    padding:5px;
    background-color: white;
    padding-bottom: :-40px;
}

.card{
	box-shadow: 3px 3px 3px 3px gray;
    padding:5px;
    background-color: white;
}
.report,#logo:hover{
	cursor: pointer;
cursor: hand;
}

.rep_time_div{
	margin-bottom: :-40px;
}

#header{
	background-color:#4CAF50;
	padding:5px;
	padding-right:20px;
}

.acpt_btn{
	background-color: #795548;
	color:white;
}
.selected{
	background-color: #003300;
	border-radius:5px;
	color:white;
	text-decoration: none;
}

.link{
	color:white !important;
    text-decoration:none;!important;	
}