{% extends 'base.html' %}

{% block body_block %}

<br>
 <ul class="nav nav-pills" id="post-links">

            <li role="presentation"  ><a href="/volunteer/">Current applications</a></li>

            <li role="presentation" class="active"><a href="/current_volunteers">Registered Volunteers</a></li>
</ul>


<div id="reports bg-success">
 <h2>Volunteers</h2>
{%  for volunteer in volunteers %}

<div class="col-md-12 report" >
  <!-- <a href="{{ BASE_DIR }}/reports/{{ report.id }}" > -->
      <div class="col-md-3 col-md-offset-0 col-lg-3 col-lg-offset-0">
    <h4>{{ volunteer.user.first_name }} {{ volunteer.user.last_name }}</h4>
    <p>Phone: {{ volunteer.phone_number }}</p>
    {% if volunteer.email %}
    <p>Email {{ volunteer.user.email }}</p>
    {% endif %}
    <p>{{ volunteer.address }}</p>
    </div>
    <div class="col-lg-offset-4">
    
    <br>
    {% if volunteer.skills %}
    <p>Skills: {{ volunteer.skills }}</p>
    {% endif %}
    </div>

   <!-- <div class="col-lg-6 col-lg-offset-1">
       <p>{{ volunteer.address }}</p>
   </div> -->
   <!-- </a> -->
   <div class="col-lg-offset-9 col-lg-4">
       {% if not volunteer.accepted  %}
       
       <button class="btn  acpt_btn" onclick="accept({{ volunteer.id }})">Accept</button>
       <button class="btn  acpt_btn" onclick="decline({{ volunteer.id }})">Decline</button>
       {% endif %}
       </div>
</div>

{% endfor %}
</div>

{% endblock %}
