{% extends "base.html" %}

{% block body_block %}

	<div class="page-header col-lg-offset-1 col-lg-10" id="login_container" >
	
	
	
	 <h1>Login to administer jobs and volunteers.</h1>

        <form id="login_form" method="post" action="/login/" >
            {% csrf_token %}
            <div class="form-group">
            <label for="username">User name:</label>
 
           <input class="form-control"type="text" name="username" value="" size="50" />
            <br />
            <div class="form-group">
            <label for="password">Password:</label>
             <input type="password" name="password" class="form-control" value="" size="50" />
             </div>
            <br />

            <input type="submit" value="Submit" class="btn acpt_btn" />
        </form>
	</div>

{% endblock %}
