{% extends 'base.html' %}

{% block body_block %}

<!-- page displays reports ordered by date desc-->
    
<div id="reports bg-success" >
 <h2 class="col-lg-offset-3">Reports</h2>
{%  for report in reports %}
<!-- display details of each report-->
<div class="col-md-12 report col-lg-offset-3" >
   <!--when report is clicked open report in report page-->
   <div class="col-md-3 col-md-offset-0 col-lg-3 col-lg-offset-0" onclick="location.href='{{ BASE_DIR }}/report/{{ report.id }}'">
    <h4>{{ report.name }}</h4>
    <br>
    <p>Date submited: {{ report.created }}</p>

    {% if report.completed %}
    <p>Date completed {{ report.date_completed }}</p>
    {% endif %}
     </div>
   

   <div class="col-lg-6 col-lg-offset-1">
       <p>{{ report.description }}</p>
   </div>
   </a>
   <div class="col-lg-offset-9 col-lg-4">
       {% if not report.accepted  %}
       
       <button class="btn acpt_btn" onclick="accept({{ report.id }})">Accept</button>
       <button class="btn btn-danger" onclick="reject({{ report.id }})">Reject</button>
       {% endif %}
       </div>
</div>

{% endfor %}
</div>
<!-- functions accept or reject reports when appropriate button is clicked-->
<script>
 function accept(id){
    	$.get('/report/'+id+'/accept/', function(data){
         // $('#questions').html(data);
         location.reload();
        });
    }
 function reject(id){
    	$.get('/report/'+id+'/reject/', function(data){
         // $('#questions').html(data);
         location.reload();
        });
    }
</script>
{% endblock %}
