{% extends 'base.html' %}

{% block body_block %}

	<br><br><br>
	
	<div class="container">
		<div class="col-md-12">
			<div class="col-md-4">
				<h2>{{ report.name }}</h2>
				<br>
				<div class="row">
					<div class="col-md-3">
						<p>Description</p>
					</div>
					
					<div class="col-md-7">
						<p>{{ report.description }}</p>
					</div>	
				</div>
				
				<div class="row">
					<div class="col-md-3">
						<p>Location</p>
					</div>
					
					<div class="col-md-7">
						<p>{{ report.location }}</p>						
					</div>	
				</div>
				
				<div class="row">
					<div class="col-md-3">
						<p>Latitude</p>
					</div>
					
					<div class="col-md-7">
						<p>{{ report.latitude }}</p>						
					</div>	
				</div>
				
				<div class="row">
					<div class="col-md-3">
						<p>Longitude</p>
					</div>
					
					<div class="col-md-7">
						<p>{{ report.longitude }}</p>						
					</div>	
				</div>				
				
				
			</div>
			
			
			
			<div class="col-md-4">
				<h3> Local Volunteers</h2>
				<br>
				{% for volunteer in volunteers %}
					<div class="panel panel-primary">
						<div class="panel-body beer-content">
							<p>{{ volunteer.user.first_name }} {{ volunteer.user.last_name }}</p>
							<p>Skills: {{ volunteer.skills }}</p>
							<p>Area: 
							
							{% for area in arealist %}
								{% ifequal volunteer.user.username area.volunteer.user.username %}
							
								{{ area.area }}
								
								{% endifequal %}
							{% endfor %}
							
							
							
							
							
							
							
							</p>
						</div>
					</div>
					
				
				{% endfor %}
				
			
			</div>
		</div>
	</div>
	
	
{% endblock %}
