{% extends 'base.html' %}

{% block body_block %}

	<br><br><br>
	
	<div class="container">		
				<div class="col-md-12">
					
					<div class="col-md-4">
						<div class="panel panel-primary">
			<div class="panel-body beer-content">
						<h2>{{ report.name }}</h2>
						<br>
						<div class="row">
							<div class="col-md-3">
								<p>Description</p>
							</div>
							
							<div class="col-md-7">
								<p>{{ report.description }}</p>
							</div>	
						</div>
						
						<div class="row">
							<div class="col-md-3">
								<p>Location</p>
							</div>
							
							<div class="col-md-7">
								<p>{{ report.location }}</p>						
							</div>	
						</div>
						
						<div class="row">
							<div class="col-md-3">
								<p>Latitude</p>
							</div>
							
							<div class="col-md-7">
								<p>{{ report.latitude }}</p>						
							</div>	
						</div>
						
						<div class="row">
							<div class="col-md-3">
								<p>Longitude</p>
							</div>
							
							<div class="col-md-7">
								<p>{{ report.longitude }}</p>						
							</div>	
						</div>				
						
						
					</div>
				</div>	
			</div>
			
			<div class="col-md-5" id="locvolunteerlist">
				<h3> Local Volunteers</h2>
				<br>
				{% for volunteer in volunteers %}
					<div class="panel panel-primary">
						<div class="panel-body beer-content">
							<div class="col-md-9">
							
								<p>{{ volunteer.user.first_name }} {{ volunteer.user.last_name }}</p>
								<p>Skills: {{ volunteer.skills }}</p>
								<p>ID: {{ volunteer.id }}</p>
								<p>Area: 
								
								{% for area in arealist %}
									{% ifequal volunteer.user.username area.volunteer.user.username %}
								
									{{ area.area.name }}
									
									{% endifequal %}
								{% endfor %}							
							</div>
							
							<div class="col-md-2">							
								<button class="btn acpt_btn" 
								onclick="assign({{ volunteer.id }}, {{ report.id }})">
								
								{% for job_list_item in joblist %}
									
									{% if volunteer.id == job_list_item.volunteer.user.id %}
										Unassign
									{% elif volunteer.id != job_list_item.volunteer.user.id%}
										Assign
									{% endif %}
								
								
								{% endfor %}
								Assign</button>
							</div>			
							
							</p>
						</div>
					</div>
					
				
				{% endfor %}
				
			
			</div>
		</div>
	</div>
	
<script>
	function assign(vol_id, job_id){	
		// assign volunteer to a job
		
		$.get('/assign_volunteer/', {volunteer_id: vol_id, job_id: job_id})
        location.reload();
	}
	
	



</script>	
	
	
{% endblock %}
