{% extends 'base.html' %}

{% block body_block %}

<br>
 <ul class="nav nav-pills col-lg-offset-3" id="post-links">

            <li role="presentation" class="active" ><a href="/volunteer">Current applications</a></li>

            <li role="presentation" ><a href="/current_volunteers">Registered volunteers</a></li>
</ul>


<div id="reports bg-success">
 <h2 class="col-lg-offset-3">Volunteering applications</h2>
{%  for volunteer in volunteers %}

<div class="col-md-12 report col-lg-offset-3" >
  <!-- <a href="{{ BASE_DIR }}/reports/{{ report.id }}" > -->
    <div class="col-md-3 col-md-offset-0 col-lg-3 col-lg-offset-0">
    <h4>{{ volunteer.user.first_name }} {{ volunteer.user.last_name }}</h4>
    <p>Phone: {{ volunteer.phone_number }}</p>
    {% if volunteer.email %}
    <p>Email {{ volunteer.user.email }}</p>
    {% endif %}
    <p>{{ volunteer.address }}</p>
    </div>
    <div class="col-lg-offset-4">
    
    <br>
    {% if volunteer.skills %}
    <p>Skills: {{ volunteer.skills }}</p>
    {% endif %}
    </div>

   <!-- <div class="col-lg-6 col-lg-offset-2">
       
   </div> -->
   <!-- </a> -->
   <div class="col-lg-offset-9 col-lg-4">
       {% if not volunteer.accepted  %}
       
       <button class="btn  acpt_btn" onclick="accept({{ volunteer.user.id }})">Accept</button>
       <button class="btn  btn-danger" onclick="reject({{ volunteer.user.id }})">Decline</button>
       {% endif %}
       </div>
</div>

{% endfor %}
</div>
<script>
    function accept(id){
    	$.get('/volunteer/'+id+'/accept', function(data){
         // $('#questions').html(data);
         location.reload();
        });
    }

    function reject(id){
      $.get('/volunteer/'+id+'/reject', function(data){
         // $('#questions').html(data);
         location.reload();
        });
    }
</script>
{% endblock %}
